.box,
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12,
.box13,
.box14,
.box15 {
  height: 80px;
  width: 200px;
  background-color: brown;
  border: 4px solid black;
  border-radius: 3px;
  transition: all 0s ease-in-out;
  margin: 15px;
}
.box:hover {
  transform: rotate(90deg);
  background-color: blue;
  transition-duration: 5s;
  transition-delay: 0s;
}
.box1:hover {
  background-color: yellow;
  transform: rotateX(20deg);
}
.box2:hover {
  background-color: plum;
  transform: rotateY(45deg);
}
.box3:hover {
  background-color: orange;
  transform: rotateZ(90deg); /* rotate(45deg) is same as rotateZ(45deg) */
  transition-duration: 5s;
  transition-delay: 0s;
}
.box4:hover {
  background-color: aqua;
  transform: rotate3d(3, 0, 3, 90deg);
  transition-property: all;
  transition-duration: 5s;
  transition-delay: 0s;
  height: 200px;
}
.box5:hover {
  background-color: darkgreen;
  transform: scale(2);
}
.box6:hover {
  background-color: lightslategray;
  transform: scaleX(2);
}
.box7:hover {
  background-color: navajowhite;
  transform: scaleY(2);
}
.box8:hover {
  background-color: black; /*no use*/
  transform: scaleZ(2);
}
.box9:hover {
  background-color: blueviolet;
  transform: skew(50deg);
}
.box10:hover {
  background-color: chartreuse;
  transform: translate(50px); /*translate()  and translateX() are same */
}
.box14:hover {
  background-color: darkmagenta;
  transform: translateX(100px);
}
.box11:hover {
  background-color: coral;
  transform: translate(-50px);
}
.box12:hover {
  background-color: cornflowerblue;
  transform: translate(50px, 50px);
}
.box13:hover {
  background-color: darkgoldenrod;
  transform: translate(50px, 50px, 50px);
}

.box15:hover {
  background-color: indigo;
  transform: translateY(50px);
}
